html, body, ui-view {
	margin: 0;
	padding: 0;
}

ui-view {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 100%;
	height: 100%;
	.hotel-name {
		cursor: pointer;
	}
	.filters {
		padding: 10px 10px;
		border-right: 1px solid #CCC;
	}
	.menu-side {
		padding: 10px;
	}
	.inputs {
		margin: auto;
		width: 100%;
		max-width: 500px;
		padding: 15px;
		.box-buttons {
			text-align: center;
		}
	}
}  

@media (max-width: 600px) {
	ui-view {
		.list {
			height: auto;
			margin-bottom: 10px!important;
		}
	}
}
